doctype html
html
  body
    nav
      a(href="/", class=path=="/"?"active":"") Home
    h1 My awesome blog
    ul
      if posts.length
        each post in posts
          li
            h4= post.title
            a(href=post.url)= post.url
            | &nbsp;—&nbsp;
            small= moment(post.date).fromNow()
      else
        :markdown
          Add a markdown file to `./posts` to get started!