@import url(http://fonts.googleapis.com/css?family=Roboto:100,900);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;

  font-family: "Roboto";
  font-size: 10pt;
  font-weight: 100;
}

.fileUpload, button {
  display: inline-block;
  
  border: none;
  border-radius: 2px;
  padding: 10px 20px 12px 20px;
  margin-bottom: 10px;

  text-align: center;
  font-size: 1em;
  font-weight: 900;
  color: rgb(127, 0, 37);

  box-shadow: inset 0 -2px 0 0 rgba(50, 50, 50, 0.2);
  background: rgb(255, 0, 73);
}

#input {
  height: 100%;
}

button[disabled] {
  color: rgb(200, 200, 200);
  background: rgb(230, 230, 230);
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload #input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.container, .control {
  width: 700px;
  margin: auto;
  font-size: 1.2em;
}

.control {
  border-top: 1px solid rgb(200, 200, 200);
  padding-top: 20px;
  margin-top: 20px;
}

.control * {
  float: right;
  margin-left: 12px;
}

.step {
  display: none;
  padding-top: 30px;
  /*border: 1px solid red;*/
}

div.step:last-of-type {
  display: block;
  /*border: 1px solid green;*/
}

.step > h1 {
  padding: 20px 0;
  margin: 20px 0;
  border-bottom: 1px solid rgb(200, 200, 200);
}

li {
  list-style-type: none;
  padding: 12px;
  font-weight: 900;
}

li:nth-of-type(2n+1) {
  background: rgb(250, 250, 250);
}

ul {
  background: white;
}

.code {
  /*display: none;*/
  font-family: 'Inconsolata';
  font-weight: 100;
}

.modules .files {
  color: gray;
  font-weight: 100;
  margin-left: 1em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:not(:checked) + label {
  opacity: 0.2;
}

input[type=checkbox]:not(:checked) ~ ul {
  display: none;
  /*pointer-events: none;*/
  /*opacity: 0.2;*/
}

input[type=checkbox] + label .marker:before,
input[type=checkbox] + label .filename:before {
  content: '✓';
  color: rgb(255, 0, 73);
  font-size: 2em;
  vertical-align: middle;
  margin-right: 0.5em;
}

input[type=checkbox]:not(:checked) + label .marker:before,
input[type=checkbox]:not(:checked) + label .filename:before {
  content: '✕';
}

.position,
.crowd {
  font-weight: 100;
  margin-left: 1em;
}

.position::before {
  content: '§   ';
}

.crowd::before {
  font-family: "FontAwesome";
  content: "   ";
}

.crowd.async::before {
  color: rgb(255, 0, 73);
}