@import url(http://fonts.googleapis.com/css?family=Roboto:100,900);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;

  font-family: "Roboto";
  font-size: 10pt;
  font-weight: 100;
}

.fileUpload, button,
.fileUpload:hover, button:hover {
  display: inline-block;
  
  border: none;
  border-radius: 2px;
  padding: 10px 20px 12px 20px;
  margin-bottom: 10px;

  text-align: center;
  font-size: 1em;
  font-weight: 900;
  color: white;

  box-shadow: inset 0 -2px 0 0 rgba(50, 50, 50, 0.2);
  background: rgb(255, 0, 73);

  overflow: hidden;

  text-shadow: 1px  1px 0 rgb(230, 0, 68), 2px  2px 0 rgb(230, 0, 68), 3px  3px 0 rgb(230, 0, 68), 4px  4px 0 rgb(230, 0, 68), 5px  5px 0 rgb(230, 0, 68), 6px  6px 0 rgb(230, 0, 68), 7px  7px 0 rgb(230, 0, 68), 8px  8px 0 rgb(230, 0, 68), 9px  9px 0 rgb(230, 0, 68),10px 10px 0 rgb(230, 0, 68),11px 11px 0 rgb(230, 0, 68),12px 12px 0 rgb(230, 0, 68),13px 13px 0 rgb(230, 0, 68),14px 14px 0 rgb(230, 0, 68),15px 15px 0 rgb(230, 0, 68),16px 16px 0 rgb(230, 0, 68),17px 17px 0 rgb(230, 0, 68),18px 18px 0 rgb(230, 0, 68),19px 19px 0 rgb(230, 0, 68),20px 20px 0 rgb(230, 0, 68),21px 21px 0 rgb(230, 0, 68),22px 22px 0 rgb(230, 0, 68),23px 23px 0 rgb(230, 0, 68),24px 24px 0 rgb(230, 0, 68),25px 25px 0 rgb(230, 0, 68),26px 26px 0 rgb(230, 0, 68);
}

#input {
  height: 100%;
}

button[disabled] {
  color: white;
  background: rgb(230, 230, 230);
  pointer-events: none;
  overflow: hidden;
  box-shadow: inset 0 -2px 0 0 rgb(220, 220, 220);
  text-shadow: 1px  1px 0 rgb(220, 220, 220), 2px  2px 0 rgb(220, 220, 220), 3px  3px 0 rgb(220, 220, 220), 4px  4px 0 rgb(220, 220, 220), 5px  5px 0 rgb(220, 220, 220), 6px  6px 0 rgb(220, 220, 220), 7px  7px 0 rgb(220, 220, 220), 8px  8px 0 rgb(220, 220, 220), 9px  9px 0 rgb(220, 220, 220),10px 10px 0 rgb(220, 220, 220),11px 11px 0 rgb(220, 220, 220),12px 12px 0 rgb(220, 220, 220),13px 13px 0 rgb(220, 220, 220),14px 14px 0 rgb(220, 220, 220),15px 15px 0 rgb(220, 220, 220),16px 16px 0 rgb(220, 220, 220),17px 17px 0 rgb(220, 220, 220),18px 18px 0 rgb(220, 220, 220),19px 19px 0 rgb(220, 220, 220),20px 20px 0 rgb(220, 220, 220),21px 21px 0 rgb(220, 220, 220),22px 22px 0 rgb(220, 220, 220),23px 23px 0 rgb(220, 220, 220),24px 24px 0 rgb(220, 220, 220),25px 25px 0 rgb(220, 220, 220),26px 26px 0 rgb(220, 220, 220);
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload #input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.container, .control {
  width: 700px;
  margin: auto;
  font-size: 1.2em;
}

.control {
  border-top: 1px solid rgb(200, 200, 200);
  padding-top: 20px;
  margin-top: 20px;
}

.control * {
  float: right;
  margin-left: 12px;
}

.step {
  display: none;
  padding-top: 30px;
  /*border: 1px solid red;*/
}

div.step:last-of-type {
  display: block;
  /*border: 1px solid green;*/
}

.step > h1 {
  padding: 20px 0;
  margin: 20px 0;
  border-bottom: 1px solid rgb(200, 200, 200);
}

li {
  list-style-type: none;
  padding: 12px;
  font-weight: 900;
}

li:nth-of-type(2n+1) {
  background: rgb(250, 250, 250);
}

ul {
  background: white;
}

.code {
  /*display: none;*/
  font-family: 'Inconsolata';
  font-weight: 100;
}

.modules .files {
  color: gray;
  font-weight: 100;
  margin-left: 1em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:not(:checked) + label {
  opacity: 0.2;
}

input[type=checkbox]:not(:checked) ~ ul {
  display: none;
  /*pointer-events: none;*/
  /*opacity: 0.2;*/
}

input[type=checkbox] + label .marker:before,
input[type=checkbox] + label .filename:before {
  content: '✓';
  color: rgb(255, 0, 73);
  font-size: 2em;
  vertical-align: middle;
  margin-right: 0.5em;
}

input[type=checkbox]:not(:checked) + label .marker:before,
input[type=checkbox]:not(:checked) + label .filename:before {
  content: '✕';
}

.position,
.crowd {
  font-weight: 100;
  margin-left: 1em;
}

.position::before {
  content: '§   ';
}

.crowd::before {
  font-family: "FontAwesome";
  content: "   ";
}

.crowd.async::before {
  color: rgb(255, 0, 73);
}